<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Archive</title>
</head>
<body>
<a href="/user-profile">Go to profile</a>
<br><br>
{{username}}'s archive
<br><br>

<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Location</th>
        <th>Acceptable Exchange</th>
        <th>Time</th>
    </tr>
    {{#archived}}
    <tr>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td>{{location}}</td>
        <td>{{acceptableExchange}}</td>
        <td>{{time}}</td>
    </tr>
    {{/archived}}
</table>

</body>
</html>