<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VertoSwap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/spacelab/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>

{{^username}}
<div class="container">
    <div class="pull-right">
            <form action="/account-create" method="get">
                <button type="submit" class="btn btn-primary">Create account</button>
            </form>
    </div>
    <div class="pull-right">
        <form role="form" class="form-inline" action="/login" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password"/>
            </div>
                <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
{{/username}}

{{#username}}
<div class="btn-group btn-group-justified">
    <div class="btn-group">
        <form action="/user-profile" method="get">
            <button type="submit" class="btn btn-primary">Go to profile</button>
        </form>
    </div>
    <div class="btn-group">
        <form action="/logout" method="post">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </div>
{{/username}}
</div>

<div class="container">
    <div class="jumbotron">
        <h2>VertoSwap</h2>
        <h4>a place to barter</h4>
    </div>
</div>

<div class="container">
    <h4>Search available barters:</h4>
        <form role="form" action="/" method="get">
            <div class="form-group">
                <input type="text" class="form-control" name="search" placeholder="Search"/>
            </div>
            <button type="submit"><span class="glyphicon glyphicon-search"></span>Search</button>
        </form>
    <br>
    <form action="/" method="get">
        <button type="submit" class="btn btn-block">Show all barters</button>
    </form>
</div>

<br><br>

<div class="container">
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a data-toggle="pill" href="#goods">Goods</a></li>
        <li><a data-toggle="pill" href="#services">Services</a></li>
    </ul>

    <div class="tab-content">
        <div id="goods" class="tab-pane fade in active">
            <h4>Goods</h4>
            <div class="list-group">
            {{#goods}}
            <a href="/view-item/?id={{id}}" class="list-group-item">
                {{title}}  ({{location}})
                <input type="hidden" name="id" value="{{id}}">
            </a>
            {{/goods}}
            </div>
        </div>
        <div id="services" class="tab-pane fade">
            <h4>Services</h4>
            <div class="list-group">
            {{#services}}
            <a href="/view-item/?id={{id}}" class="list-group-item">
                {{title}}  ({{location}})
                <input type="hidden" name="id" value="{{id}}">
            </a>
            {{/services}}
            </div>
        </div>
    </div>
</div>

<!--<div class="container">-->
    <!--<ul class="nav nav-pills nav-justified">-->
        <!--<li class="active"><a data-toggle="pill" href="#goods">Goods</a></li>-->
        <!--<li><a data-toggle="pill" href="#services">Services</a></li>-->
    <!--</ul>-->

    <!--<div class="tab-content">-->
        <!--<div id="goods" class="tab-pane fade in active">-->
            <!--<h4>Goods</h4>-->
            <!--{{#goods}}-->
            <!--<a href="/view-item/?id={{id}}">-->
                <!--{{title}}  ({{location}})-->
                <!--<input type="hidden" name="id" value="{{id}}">-->
            <!--</a><br>-->
            <!--{{/goods}}-->
        <!--</div>-->
        <!--<div id="services" class="tab-pane fade">-->
            <!--<h4>Services</h4>-->
            <!--{{#services}}-->
            <!--<a href="/view-item/?id={{id}}">-->
                <!--{{title}}  ({{location}})-->
                <!--<input type="hidden" name="id" value="{{id}}">-->
            <!--</a><br>-->
            <!--{{/services}}-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<br><br>

</body>
</html>