<!DOCTYPE html>
<html lang="en">
<head>
    <!--<link rel="stylesheet" type="text/css" href="style.css">-->
    <meta charset="UTF-8">
    <title>VertoSwap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/spacelab-bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#vs-nav" aria-expanded="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">VertoSwap</a>
        </div>
        <div class="collapse navbar-collapse" id="vs-nav">
            <ul class="nav navbar-nav">
                <li><a href="/user-profile">MySwaps</a></li>
                <li><a href="/work-history">Resume</a></li>
                <li><a href="/archive">Archive</a></li>
                <li class="active" href="/thread-read-all">Chats<span class="sr-only"></span></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><form action="/logout" method="post">
                    <button type="submit" class="btn btn-primary navbar-btn">Logout</button>
                </form></li>
            </ul>
        </div>
    </div>
</nav>

<!--<div class="btn-group btn-group-justified">-->
    <!--<div class="btn-group">-->
        <!--<form action="/" method="get">-->
            <!--<button type="submit" class="btn btn-primary">Home</button>-->
        <!--</form>-->
    <!--</div>-->
    <!--<div class="btn-group">-->
        <!--<form action="/user-profile" method="get">-->
            <!--<button type="submit" class="btn btn-primary">Profile</button>-->
        <!--</form>-->
    <!--</div>-->
    <!--<div class="btn-group">-->
        <!--<form action="/logout" method="post">-->
            <!--<button type="submit" class="btn btn-primary">Logout</button>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->

<div class="container-fluid"> 
    <div class="jumbotron"> 
        <h3>{{username}}'s Chats</h3> 
    </div> 
</div> 

<div class="container">
    <div class="list-group">
{{#conversations}}
        <div class="list-group-item">
            <div class="btn-group">
    <form action="/conversation-delete" method ="post">
        <input type="hidden" name="conversation" value="{{conversation}}"/>
    <button type="submit" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-trash"></span></button></a>
</form>
    </div>
    <div class="btn-group">
        <form action="/message-get-by-conversation" method="get">
            <input type="hidden" name="conversation" value="{{conversation}}"/>
            <input type="hidden" id="conversation" value="{{conversation}}"/>
            <button type="submit" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></a>
        </form>
    </div>
        <div class='divlabel'>
{{recipient.username}}<br/>
    <input type="hidden" name="id" value="{{id}}"/>
    {{timedateString}}
</div>
<div id='divmsg'>
        {{item.title}}
    </div></div>
{{/conversations}}
</div>
</div>
</body>
</html>