<!DOCTYPE html>
<html lang="en">
<head>
    <!--<link rel="stylesheet" type="text/css" href="style.css">-->
    <meta charset="UTF-8">
    <title>VertoSwap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/spacelab-bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/messages.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.0.3/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#vs-nav" aria-expanded="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">VertoSwap</a>
        </div>
        <div class="collapse navbar-collapse" id="vs-nav">
            <ul class="nav navbar-nav">
                <li><a href="/user-profile">MySwaps</a></li>
                <li><a href="/work-history">Resume</a></li>
                <li><a href="/archive">Archive</a></li>
                <li><a href="/thread-read-all">Chats</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><form action="/logout" method="post">
                    <button type="submit" class="btn btn-primary navbar-btn">Logout</button>
                </form></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="well">
    <form role="form" action="/message-reply" method ="post">
        <div class="form-group">
        <textarea id="body" placeholder="Type a message." class="message-area form-control" rows="4"></textarea>
        <input type="hidden" id="conversation" value="{{conkey}}"/>
        <input type="hidden" id="itemid" value="{{itemid}}"/>
        <input type="hidden" id="receiverid" value="{{receiverid}}"/>
        <input type="hidden" id="name" value="{{name}}"/>
        </div>
        <input type="button" onclick="sendMessage()" value="Send"/>
    </form>
        <br><br>
    <div id="message-block">
    {{#messages}}<div><div class='divlabel'>{{author.username}}<br/>{{timedateString}}</div><div class="talk-bubble tri-left round right-in"><div class="talktext"><p>{{body}}</p></div></div></div><br />{{/messages}}
    </div>
    </div>
</div>

<script src="main.js"></script>
</body>
</html>
