<!DOCTYPE html>
<html lang="en">
<head>
    <!--<link rel="stylesheet" type="text/css" href="style.css">-->
    <meta charset="UTF-8">
    <title>VertoSwap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/spacelab/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<form action="/" method="get" class="inline-form-button">
    <button type="submit">Home</button>
</form>
<form action="/logout" method="post" class="inline-form-button">
    <button type="submit">Logout</button>
</form>
<form action="/message-conversation" method ="post">
    <input type="hidden" name="conversationId" value="{{conkey}}"/>
    <button type="submit">Delete</button>
</form>

{{#messages}}


<div id='divlabel'>
    {{author.username}}<br/>
    <input type="hidden" name="id" value="{{id}}"/>
    {{timedateString}}
</div>
<input type="hidden" name="id" value="{{id}}"/>
<div id='divmsg'>
           {{body}}
</div><br /><br />
{{/messages}}
<form action="/message-reply" method ="post">
    <textarea name="body" placeholder="Type a message to this owner?" class="message-area"></textarea>
    <input type="hidden" name="conversation" value="{{conkey}}"/>
    <input type="hidden" name="itemid" value="{{itemid}}"/>
    <input type="hidden" name="receiverid" value="{{receiverid}}">
    <button type="submit">Reply</button>
</form>

</body>
</html>