<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>Barter Details</title>
</head>
<body>
<form action="/" method="get" class="inline-form-button">
    <button type="submit">Home</button>
</form>
<form action="/message-to-seller" method="post">
{{#good}}
    {{title}}<br/>
    {{location}}<br/>
    {{description}}<br/>
    {{acceptableExchange}}<br/>
    {{timedateString}}<br/>
    {{user.username}}<br/>
    <input type="hidden" name="itemId" value="{{id}}"/>
{{/good}}

    <textarea name="body" placeholder="Type a message to this owner?" width="300 px;" height="100 px;"></textarea>
    <button type="submit">Send</button>
</form>
</body>
</html>