<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work History</title>
</head>
<body>
<a href="/">Home</a>
<br>
<a href="/user-profile">Go to profile</a>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br><br>
{{username}}'s Work History
<br><br>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    {{#workList}}
    <tr>
        <td>{{jobTitle}}</td>
        <td>{{description}}</td>
        <td>
            <form action="/work-delete" method="post">
                <input type="hidden" name="id" value="{{id}}"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {{/workList}}
</table>
<br><br>
Add a job to your work history:
<form action="/work-create" method="post">
    <input type="text" name="jobTitle" placeholder="Job title"/>
    <input type="text" name="description" placeholder="Description"/>
    <button type="submit">Submit</button>
</form>
</body>
</html>